.Contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-container {
    background-color: #FFF59C;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: 20px;
  }

  .contact-form-container h2 {
    display: flex;
    justify-content: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #333;
  }
  
  .contact-form p a:hover {
    text-decoration: underline;
  }
