footer {
    padding: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 14px;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  footer img {
    height: 150px;
  }